.app {
  padding: 40px;
}

.accordion {
  width: 500px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #e0e0e0;
}

.accordion-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 16px;
  background-color: #f7f7f7;
  border: none;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
}

.accordion-title:hover {
  background-color: #ececec;
}

.accordion-content {
  padding: 14px 16px;
  background-color: #ffffff;
  color: #333;
  font-size: 14px;
}

.accordion-icon {
  font-size: 18px;
}

.accordion-item:last-child {
  border-bottom: none;
}
